{% extends 'park_app/layout.html' %}

{% block title %}Stalls{% endblock %}
{% block body %}
<section data-bs-version="5.1" class="header1 cid-tNaEjdj2dz mbr-fullscreen" id="header1-i">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(237, 245, 225);"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Central Perk's Shops</strong>
                </h1>
                <p class="mbr-text mbr-fonts-style display-5">Our shops are more than just places to purchase
                    souvenirs; they are extensions of the park's enchantment, offering a merchandise that allows
                    guests to relive their park experience and share its magic with others.<br></p>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features23 cid-tNaQeIR2sn" id="features23-q">
    <div class="container">
        <div class="card-wrapper">
            <div class="card-box align-left">
                <h4 class="mbr-section-title mbr-fonts-style display-2"><strong>Stalls</strong></h4>
                <p class="mbr-text mbr-fonts-style display-5">
                    All the available stalls in our park.</p>
            </div>
        </div>
        <!-- col-12 col-md-6 col-lg-4 -->
        <div class="row justify-content-center content-row mt-4">
            {% for stall in stalls %}
            <div class="card p-4 p-md-3 col-md-6 col-lg-3">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1">
                            <strong>{% if forloop.counter < 10 %}0{% endif %}{{forloop.counter}}.</strong>
                        </span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-5">
                        <strong>{{stall.Name}}</strong>
                    </h4>
                    <p class="mbr-text card-text mbr-fonts-style display-7">
                        {{stall.Description}}
                    </p>
                    <div class="mbr-section-btn"><a class="btn btn-primary display-4"
                            href="{% url 'park_app:stall' stall.id %}">Details</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}